<form action="" method="post">
  <h1>Edit student</h1>
  Email:
  <input type="email" name="email" required value="{{editStudent.email}}" />
  <br /><br />
  Password:
  <input
    type="password"
    name="password"
    required
    value="{{editStudent.password}}"
  />
  <br /><br />
  Name:
  <input type="text" name="name" required value="{{editStudent.name}}" />
  <br /><br />
  <div>
    <label for="specializedID">Specialized Name:</label>
    <select id="specializedID" name="specializedID" required>
      {{#each specialized}}
        <option value="{{this._id}}">{{this.specializedName}}</option>
      {{/each}}
    </select>
  </div>
  <br /><br />
  <button type="submit">Edit</button>
</form>
