<html>
  <head>
    <title>Report pending</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      table, th, td { border: 1px solid black; border-collapse: collapse; }
    </style>
  </head>
  <body>
    <!--
    <table style="width:100%">
      <tr>
        <th>Report by</th>
        <th>Content</th>
        <th>Pending status</th>
        <th>Reported post</th>
        <th>Write by</th>
        <th>Date create</th>
        <th>Comment</th>
        <th>Action</th>
      </tr>
      {{#each data}}
        <tr>
          <td>{{email}}</td>
          <td>{{content}}</td>
          <td>{{isPending}}</td>
          <td>{{post.title}}</td>
          <td>{{post.email}}</td>
          <td>{{dateCreate}}</td>
          <td><input id="comment{{_id}}" type="text" name="comment" class="comment" placeholder="Enter comment..."></td>
          <td>
            <form
              action="/coordinator/readPost/{{post._id}}"
              method="get"
            >
              <button type="submit" class="btn btn-primary">Read</button>
            </form>
            <form id="approveForm{{_id}}" action="/coordinator/reportPending/approveReport/{{_id}}" method="get">
              <button type="button" onclick="submitForm('{{_id}}')" class="btn btn-success">Approve</button>
            </form>
            <form action="/coordinator/reportPending/deleteReport/{{_id}}">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </table>
    -->


    <div class="rpPendingBG">
      <div class="rpPendingContainer">
        {{#each data}}
          <div class="rpPendingItems">
              <h1>Report post: {{post.title}}</h1>
              <div class="rpPendingItemsBox1">
                <div class="rpPendingItemsBox1n1">
                  <div class="rpPendingSourch">
                    <h4>Post by:</h4>
                    <h4>{{post.email}}</h4>
                  </div>
                  <div class="rpPendingRead">
                    <a href="/coordinator/readPost/{{post._id}}">View post</a>
                  </div>

                  <div class="rpPendingSourch">
                    <h4>Report by: </h4>
                    <h4>{{email}}</h4>
                  </div>
                </div>
                <div class="rpPendingItemsBox1n2">
                  {{dateCreate}}
                </div>
              </div>
              <p class="rpPendingContent">Report content: {{content}}</p>
              <div class="rpPendingItemsBox2">
                <form style="width: 100%;" action="/coordinator/reportPending/sendCommentReport/{{_id}}?comment={{comment}}" method="get">
                  <input type="text" name="comment" class="rpPendingComment" placeholder="Enter comment..."></td>
                  <button type="submit"  class="rpPendingButton1">Send</button>
                </form>
              </div>
              <div class="rpPendingItemsBox3">
                <form action="/coordinator/reportPending/approveReport/{{_id}}" method="get">
                  <button type="submit" class="btn btn-success">Accept</button>
                </form>
                <form action="/coordinator/reportPending/deleteReport/{{_id}}">
                  <button type="submit" class="btn btn-danger">Refuse</button>
                </form>
              </div>
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>

{{!-- <script>
      function submitForm(id) {
        var comment = document.getElementById("comment" + id).value;
        document.getElementById("approveForm" + id).innerHTML += '<input type="hidden" name="comment" value="' + comment + '">';
        document.getElementById("approveForm" + id).submit();
      }
</script> --}}

