<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>
<style>
  .noPost {
  display: flex;
  justify-content: center;
}
.noPostImage {
  width: 30%;
  height: auto;
}
</style>
{{#if data.length}}
<div class="container" style="margin-top: 20px;">
    <div class="grid">
        {{#each data}}
        <div class="card">
            <div class="header">
                <h1>{{description}}</h1>
                <h5>By: {{email}}</h5>
                <h5>At: {{dateCreate}}</h5>
            </div>
            
            <div class="actions">
                <a class="pPendingRead" href="/readPost/{{_id}}">Read more</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{else}}
<div class="noPost">
<img class="noPostImage" 
src="https://cdn.discordapp.com/attachments/1146127098503762031/1232291405074923630/You_have_no_post._5.png?ex=6628ec4d&is=66279acd&hm=99c7f56b65c95638e41fe9256bca46461dc3e583dcef53ebde465fd199192e1f&" alt="">
{{/if}}



{{!-- <div>
  <div class="specBoxBG">
    <div class="specBox">
        <h3 class="specializetitle">Specialize:</h3>
        {{#each specialized}}
          <a class="specializelink" href="/specializedPost/{{_id}}">{{specializedName}}</a>
        {{/each}}
    </div>
  </div>
  <div class="pPendingBG">
      <div class="homeStudentContainer">
        {{#each data}}
          <div class="pPendingItems">
            <div class="pPendingItemsBox1">
              <div class="pPendingItemsBox1n1">
                <h1>{{title}}</h1>
                <h5>By: {{email}}</h5>
              </div>
              <div class="pPendingItemsBox1n2">
                {{dateCreate}}
              </div>
            </div>
            <div class="pPendingContent">
              {{{body}}}
            </div>
            <div class="pPendingItemsBox3">
              <a class="pPendingRead" href="/readPost/{{_id}}">Read more</a>
            </div>
            
            <div class="action" style="display: flex;">
              <form action="student/report/{{_id}}" method="get">
                <button type="submit" class="feedbackpost">Feedback</button>
              </form>
            </div>
          </div>
        {{/each}}
      </div>
</div> --}}
</body>
</html>