<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>
  
<div class="container">
    <div class="grid">
        {{#each data}}
        <div class="card">
            <div class="header">
                <h1>{{description}}</h1>
                <h5>By: {{email}}</h5>
                <h5>At: {{dateCreate}}</h5>
            </div>
            
            <div class="actions">
                <a class="pPendingRead" href="/student/readPost/{{_id}}">Read more</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>



{{!-- <div>
  <div class="specBoxBG">
    <div class="specBox">
        <h3 class="specializetitle">Specialize:</h3>
        {{#each specialized}}
          <a class="specializelink" href="/specializedPost/{{_id}}">{{specializedName}}</a>
        {{/each}}
    </div>
  </div>
  <div class="pPendingBG">
      <div class="homeStudentContainer">
        {{#each data}}
          <div class="pPendingItems">
            <div class="pPendingItemsBox1">
              <div class="pPendingItemsBox1n1">
                <h1>{{title}}</h1>
                <h5>By: {{email}}</h5>
              </div>
              <div class="pPendingItemsBox1n2">
                {{dateCreate}}
              </div>
            </div>
            <div class="pPendingContent">
              {{{body}}}
            </div>
            <div class="pPendingItemsBox3">
              <a class="pPendingRead" href="/readPost/{{_id}}">Read more</a>
            </div>
            
            <div class="action" style="display: flex;">
              <form action="student/report/{{_id}}" method="get">
                <button type="submit" class="feedbackpost">Feedback</button>
              </form>
            </div>
          </div>
        {{/each}}
      </div>
</div> --}}
</body>
</html>