<!--
<div class="specializebox2">
  <div class="specializebox">
    <p class="specializetitle">Specialize:</p>
    {{#each specialized}}
      <a class="specializelink" href="/specializedPost/{{_id}}">{{specializedName}}</a>
    {{/each}}
  </div>
</div>
<ul class="ulposts">
  {{#each data}}
    <li class="liposts">
      <div class="post">
        <div class="titlepost">
          <h1 class="namepost">{{title}}</h1>
          <h3 class="datepost"> {{dateCreate}}</h3>
        </div>
        <div class="authorpost">
          <h3>{{email}}</h3>
        </div>
        <div class="content">
          {{{body}}}
        </div>
        <div class="action" style="display: flex;">
          <form action="/readPost/{{_id}}">
            <button type="submit" class="btn btn-primary">Read</button>
          </form>
          <form action="student/report/{{_id}}">
            <button type="submit" class="btn btn-warning">Report</button>
          </form>
        </div>

      </div>
    </li>
  {{/each}}
</ul>
-->

<div>
  <div class="specBoxBG">
    <div class="specBox">
        <h3 class="specializetitle">Specialize:</h3>
        {{#each specialized}}
          <a class="specializelink" href="/specializedPost/{{_id}}">{{specializedName}}</a>
        {{/each}}
    </div>
  </div>
  <div class="pPendingBG">
      <div class="homeStudentContainer">
        {{#each data}}
          <div class="pPendingItems">
            <div class="pPendingItemsBox1">
              <div class="pPendingItemsBox1n1">
                <h1>{{title}}</h1>
                <h5>By: {{email}}</h5>
              </div>
              <div class="pPendingItemsBox1n2">
                {{dateCreate}}
              </div>
            </div>
            <div class="pPendingContent">
              {{{body}}}
            </div>
            <div class="pPendingItemsBox3">
              <a class="pPendingRead" href="/readPost/{{_id}}">Read more</a>
            </div>
            
            <div class="action" style="display: flex;">
              <form action="student/report/{{_id}}" method="get">
                <button type="submit" class="feedbackpost">Feedback</button>
              </form>
            </div>
          </div>
        {{/each}}
      </div>
</div>