<!--
<ul class="ulposts">
  {{#each post}}
    <li class="liposts">
      <div class="post">
        <div class="titlepost">
          <h1 class="namepost">{{title}}</h1>
          <h3 class="datepost"> {{dateCreate}}</h3>
        </div>
        <div class="authorpost">
          <h3>{{email}}</h3>
        </div>
        <div class="content">
          {{{body}}}
        </div>
        <div class="action">
          <form action="/student/report/{{_id}}">
            <button type="submit" class="btn btn-warning">Report</button>
          </form>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
-->
<div class="pPendingBG">
  <div class="homeStudentContainer">
    {{#each post}}
      <div class="pPendingItems">
        <div class="pPendingItemsBox1">
          <div class="pPendingItemsBox1n1">
            <h1>{{title}}</h1>
            <h5>By: {{email}}</h5>
          </div>
          <div class="pPendingItemsBox1n2">
            {{dateCreate}}
          </div>
        </div>
        <div class="pPendingContentFull">
          {{{body}}}
        </div>
        <div class="report-content">
          {{#each report}}
            <h5>{{email}}:</h5>
            <h7>{{content}}</h7>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</div>