<!--
<ul class="ulposts">
  {{#each post}}
    <li class="liposts">
      <div class="post">
        <div class="titlepost">
          <h1 class="namepost">{{title}}</h1>
          <h3 class="datepost"> {{dateCreate}}</h3>
        </div>
        <div class="authorpost">
          <h3>{{email}}</h3>
        </div>
        <div class="content">
          {{{body}}}
        </div>
        <div class="action">
          <form action="/student/report/{{_id}}">
            <button type="submit" class="btn btn-warning">Report</button>
          </form>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
-->
{{!-- home/readPost.hbs --}}
<h1>Post: {{post.description}}</h1>

<h2>Images:</h2>
{{#if images}}
  <div style="display: flex;">
    {{#each images}}
      <a href="{{this}}" target="_blank">
        <figure>
          <img src="{{this}}" alt="Preview" style="max-width: 100px; max-height: 100px;">
          <figcaption>{{extractFilename this}}</figcaption>
        </figure>
      </a>
      <form action="/student/readPost/deleteFile" method="POST">
        <input type="hidden" name="postId" value="{{../post._id}}">
        <input type="hidden" name="fileUrl" value="{{this}}">
        <button type="submit">Delete</button>
      </form>
    {{/each}}
  </div>
{{else}}
  <p>No images to display.</p>
{{/if}}

<h2>Documents:</h2>
{{#if docxs}}
  <ul>
    {{#each docxs}}
      <li>
        <a href="{{this}}" target="_blank">{{extractFilename this}}</a>
      </li>
      <form action="/student/readPost/deleteFile" method="POST">
        <input type="hidden" name="postId" value="{{../post._id}}">
        <input type="hidden" name="fileUrl" value="{{this}}">
        <button type="submit">Delete</button>
      </form>
    {{/each}}
  </ul>
{{else}}
  <p>No documents to display.</p>
{{/if}}
<form action="/student/readPost/updatePost/{{post._id}}" method="get">
  <button type="submit">Update</button>
</form>


{{!-- <div class="pPendingBG">
  {{#each post}}
    <div class="pPendingItems">
      <div class="pPendingItemsBox1">
        <div class="pPendingItemsBox1n1">
          <h1>{{title}}</h1>
          <h5>By: {{email}}</h5>
        </div>
        <div class="pPendingItemsBox1n2">
          {{dateCreate}}
        </div>
      </div>
      <div class="pPendingContentFull">
        {{{body}}}
      </div>
      <div style="border-top: 1px solid;"></div>
      {{#each report}}
        <div
          class="report-content"
          style="margin-top:10px; display:flex; flex-direction:column;"
        >
          <div class="icon-label-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-person-circle"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
              />
            </svg>
            <h7 style="font-weight: bold;">{{email}}:</h7>
          </div>

          <h7>{{content}}</h7>
        </div>
      {{/each}}

    <div class="fixbtnbox1">
      <div class="action" style="display: flex; justify-content: center;">
      <form action="/student/report/{{_id}}"  style="width: 50%;">
        <button type="submit" style="width: 100%;" class="btn btn-primary">Feedback</button>
      </form>
      <button
        type="button"
        style="margin-left: 5px; width: 500px; height: 50%; width: 50%;"
        class="btn btn-primary "
        onclick="window.location.href='/';"
      >Cancel</button>
    </div>

    </div>





  {{/each}}
</div> --}}





<!--
<div class="pPendingBG">
  {{#each post}}
    <div class="pPendingItems">
      <div class="pPendingItemsBox1">
        <div class="pPendingItemsBox1n1">
          <h1>{{title}}</h1>
          <h5>By: {{email}}</h5>
        </div>
        <div class="pPendingItemsBox1n2">
          {{dateCreate}}
        </div>
      </div>
      <div class="pPendingContentFull">
        {{{body}}}
      </div>
      <div style="border-top: 1px solid;"></div>
      {{#each report}}
        <div
          class="report-content"
          style="margin-top:10px; display:flex; flex-direction:column;"
        >
          <div class="icon-label-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-person-circle"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
              />
            </svg>
            <h7 style="font-weight: bold;">{{email}}:</h7>
          </div>

          <h7>{{content}}</h7>
        </div>
      {{/each}}

    <div class="fixbtnbox1">
      <div class="action" style="display: flex; justify-content: center;">
      <form action="/student/report/{{_id}}"  style="width: 50%;">
        <button type="submit" style="width: 100%;" class="btn btn-primary">Feedback</button>
      </form>
      <button
        type="button"
        style="margin-left: 5px; width: 500px; height: 50%; width: 50%;"
        class="btn btn-primary "
        onclick="window.location.href='/';"
      >Cancel</button>
    </div>
    
    </div>

    
  </div>
  {{/each}}
</div>