<div class="specializebox2">
  <div class="specializebox">
    <p class="specializetitle">Specialize:</p>
    {{#each specialized}}
      <a class="specializelink" href="/specializedPost/{{_id}}">{{specializedName}}</a>
    {{/each}}
  </div>
</div>
<ul class="ulposts">
  {{#each data}}
    <li class="liposts">
      <div class="post">
        <div class="titlepost">
          <h1 class="namepost">{{title}}</h1>
          <h3 class="datepost"> {{dateCreate}}</h3>
        </div>
        <div class="authorpost">
          <h3>{{email}}</h3>
        </div>
        <div class="content">
          {{{body}}}
        </div>
        <div class="action" style="display: flex;">
          <form action="/readPost/{{_id}}">
            <button type="submit" class="btn btn-primary">Read</button>
          </form>
          <form action="/student/report/{{_id}}">
            <button type="submit" class="btn btn-warning">Report</button>
          </form>
        </div>

      </div>
    </li>
  {{/each}}
</ul>