<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manager Home Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>

    {{!-- your-template.hbs --}}
    <!--
    {{#each totalPostSpecialized}}
      <div>
        <p>Specialized ID: {{this.specializedID}}</p>
        <p>Specialized Name: {{this.specializedName1}}</p>
        <console class="lo">{{this.specializedName}}</console>
        <p>Total Posts: {{this.totalPosts}}</p>
        <p>percent: {{this.percent}}</p>
      </div>
    {{/each}}-->
    <!--
    <div class="MMtest">
      <p>totalPosts{{totalPosts}}</p>
      <p>totalPostsPending{{totalPostsPending}}</p>
      <p>totalPostsApproved{{totalPostsApproved}}</p>
      <p>totalReports{{totalReports}}</p>
      <p>totalReportsPending{{totalReportsPending}}</p>
      <p>totalReportsApproved{{totalReportsApproved}}</p>
    </div>-->

    <div class="container">

      <div class="row" style="margin-top:20px; justify-content:center;">
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                  >
                    Total Posts
                  </div>
                  <div
                    class="h5 mb-0 font-weight-bold text-gray-800"
                  >{{totalPosts}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>





        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div
                    class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                  >
                    Total Posts Pending
                  </div>
                  <div
                    class="h5 mb-0 font-weight-bold text-gray-800"
                  >{{totalPostsPending}}</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>




              

              <div class="chartPostContainer">
                <h1>Article statistics</h1>
                <div class="chartPostbox">
                  <div style="width: 65%; " id="chart"></div>
                  <div style="width: 35%; " id="percentPostChart"></div>
                </div>
              </div>
        
    </div>
    <!-- Other HTML content can go here -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <script>
        var postCount = [];
        var postPercent = [];
        var postCountAll = 0;
          {{#each totalPostSpecialized}}
            postCount.push({{this.totalPosts}});
            postCountAll += {{this.totalPosts}}
          {{/each}}

          {{#each totalPostSpecialized}}
            var p = (100/postCountAll) * {{this.totalPosts}}
            console.log(p)
            postPercent.push(p)
          {{/each}}
          
          console.log("batdaucheck")
          console.log(postCount)
          console.log("postCount.length()",postCount.length)
          console.log(postPercent)

        /*
        var nameSpec =  [''];
          {{#each totalPostSpecialized}}
            nameSpec.push({{this.specializedName1}});
          {{/each}}
          console.log(nameSpec)


        var percent = [];
          {{#each totalPostSpecialized}}
            percent.push({{this.percent}});
          {{/each}}
          console.log(percent)
          */



        var x = {{totalPosts}};
        var xP = {{totalPostsPending}};
        var xA;
        xA = x - xP;
        var pXPA, pXP;
        pXA = (100/x)*xA;
        pXP = 100-pXA;
        console.log(pXA+'%',pXP+'%');




        //////////////////////////////////////////////////////
        var options = {
          series: [{
          name: 'Servings',
          data: postCount//[44, 55, 41]
        }],
          annotations: {
          points: [{
            x: 'Bananas',
            seriesIndex: 0,
            label: {
              borderColor: '#775DD0',
              offsetY: 0,
              style: {
                color: '#fff',
                background: '#775DD0',
              },
              text: 'Bananas are good',
            }
          }]
        },
        chart: {
          height: 350,
          type: 'bar',
        },
        plotOptions: {
          bar: {
            borderRadius: 10,
            columnWidth: '50%',
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: 2
        },
        
        grid: {
          row: {
            colors: ['#fff', '#f2f2f2']
          }
        },
        xaxis: {
          labels: {
            rotate: -45
          },
          categories: ['Marketing', 'It', 'Design'],
          tickPlacement: 'on'
        },
        yaxis: {
          title: {
            text: 'Servings',
          },
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'light',
            type: "horizontal",
            shadeIntensity: 0.25,
            gradientToColors: undefined,
            inverseColors: true,
            opacityFrom: 0.85,
            opacityTo: 0.85,
            stops: [50, 0, 100]
          },
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();




        //////////////////////////////////////////////////////
         var percentPostOptions = {
          series: postPercent,
          chart: {
          type: 'donut',
        },
        labels: ['Marketing', 'It', 'Design'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var percentPostChart = new ApexCharts(document.querySelector("#percentPostChart"), percentPostOptions);
        percentPostChart.render();





        //////////////////////////////////////////////////////
        var percentOptions1 = {
          series: [29, 57, 14],
        chart: {
          width: 380,
          type: 'pie',
        },
        labels: ['Marketing', 'It', 'Design'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]

        };
        var percentChart1 = new ApexCharts(document.querySelector("#piechart"), percentOptions1);
        percentChart1.render();




        //////////////////////////////////////////////////////
        var percentOptions2 = {
          series: [29, 57, 14],
        chart: {
          width: 380,
          type: 'pie',
        },
        labels: ['Marketing', 'It', 'Design'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]

        };

        var percentChart2 = new ApexCharts(document.querySelector("#piechart"), percentOptions2);
        percentChart2.render();







    </script>


  </body>
</html>