<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post page</title>
    <style>
body{
  background-color: #f4f4f4;
}

      .ulposts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 20px;
}

.liposts {
  background: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.liposts:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.body-content {
  display: -webkit-box;
  -webkit-line-clamp: 10; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

.post {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titlepost .namepost {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.datepost {
  font-size: 14px;
  color: #666;
  padding: 0px 15px 15px;
}

.authorpost {
  font-size: 14px;
  padding: 0 15px;
  margin: 10px 0;
}

.content, .action {
  padding: 15px 15px 15px;
}

.action {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.action .btn {
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  outline: none;
}

.action .btn:hover {
  background-color: #0056b3;
}

@media (max-width: 767px) {
  .ulposts {
    grid-template-columns: 1fr;
  }
}
    </style>
</head>
<body>
  <form action="/manager/downloadAllPosts" method="post">
          <button class="btn btn-success" type="submit" class="btn">Download all</button>
  </form>
  <ul class="ulposts">
  {{#each data}}
  <li class="liposts">
    <div class="post">
      <div class="titlepost">
        <h1 class="namepost">{{title}}</h1>
        <h3 class="datepost">{{dateCreate}}</h3>
      </div>
      <div class="authorpost">
        <h6>By: {{email}}</h6>
      </div>
      <div class="body-content">
        <p>{{{body}}}</p>
      </div>
      
      <div class="action">
        <form action="/manager/readPost/{{_id}}">
          <button type="submit" class="btn">Read</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>


</body>
</html>