<ul class="ulposts">
  {{#each post}}
    <li class="liposts">
      <div class="post">
        <div class="titlepost">
          <h1 class="namepost">{{title}}</h1>
          <h3 class="datepost"> {{dateCreate}}</h3>
        </div>
        <div class="authorpost">
          <h3>{{email}}</h3>
        </div>
        <div class="content">
          {{{body}}}
        </div>
        <div class="report-content" >
          {{#each report}}
            <h5>{{email}}:</h5>
            <h7>{{content}}</h7>
          {{/each}}
        </div>
        <div class="action">
          <button class="btn btn-warning download-btn" data-post-id="{{_id}}">Download post (PDF)</button>
          <form action="/manager/readPost/{{_id}}/downloadReport">
            <button type="submit" class="btn btn-warning">Download report</button>
          </form>
        </div>
      </div>
    </li>
  {{/each}}
</ul>


<textarea name="content" id="editor" style="display: none;"></textarea>
            


<script src="/ckeditor/ckeditor.js"></script>
<script>
  const downloadButtons = document.querySelectorAll('.download-btn');
downloadButtons.forEach(button => {
  button.addEventListener('click', async function() {
    document.querySelector('.ulposts').style.display = 'none';

    CKEDITOR.replace('editor');
    CKEDITOR.on('instanceReady', async function(event) {
      const editorInstance = event.editor;
      const postId = button.dataset.postId;
      const response = await fetch(`/manager/readPost/${postId}/downloadPost`);
      const htmlContent = await response.text();
      
      editorInstance.setData(htmlContent);
    });
  });
});
</script>

