<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Read post</title>
  <style>
    /* Reset một số styles cơ bản */
ul, li, h1, h3, h5, button, form {
  margin: 0;
  padding: 0;
}

/* Set up some spacing and a max-width for your content */
.ulposts {
  list-style: none;
  max-width: 800px; /* Giá trị này thay đổi tùy vào bố cục của bạn */
  margin: auto;
  padding: 20px;
}

.liposts + .liposts {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.post {
  padding: 10px;
  background-color: #f9f9f9; /* Một màu nền nhẹ cho mỗi post */
  border-radius: 8px; /* Góc bo tròn */
  margin-bottom: 20px; /* Khoảng cách giữa các post */
}

.titlepost {
  margin-bottom: 10px;
}

.namepost {
  color: #333; /* Một màu đậm cho tiêu đề */
  font-size: 1.5em;
}

.datepost {
  color: #666;
  font-size: .9em;
}

.authorpost {
  margin-bottom: 10px;
  font-size: .8em;
  color: #777;
}

.content, .report-content h5, .report-content h7 {
  color: #333; /* Màu chữ cho nội dung và báo cáo */
  font-size: 1em;
  line-height: 1.6; /* Khoảng cách giữa các dòng */
  margin-bottom: 10px;
}

.action {
  display: flex;
  justify-content: space-between; /* Căn chỉnh nút bên trái và bên phải */
}

.btn {
  background-color: #f0ad4e;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #ec971f; /* Màu khi hover */
}

/* Responsive styles */
@media (max-width: 991px) {
  .action {
    flex-direction: column;
  }

  .action button {
    width: 100%;
    margin-bottom: 10px;
  }

  .titlepost h1 {
    font-size: 1.2em;
  }
}
  </style>
</head>
<body>
  <h1>Post: {{post.description}}</h1>

<h2>Images:</h2>
{{#if images}}
  <div style="display: flex;">
    {{#each images}}
      <a href="{{this}}" target="_blank">
        <figure>
          <img src="{{this}}" alt="Preview" style="max-width: 100px; max-height: 100px;">
          <figcaption>{{extractFilename this}}</figcaption>
        </figure>
      </a>
    {{/each}}
  </div>
{{else}}
  <p>No images to display.</p>
{{/if}}

<h2>Documents:</h2>
{{#if docxs}}
  <ul>
    {{#each docxs}}
      <li>
        <a href="{{this}}" target="_blank">{{extractFilename this}}</a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No documents to display.</p>
{{/if}}
<form action="/manager/readPost/downloadPost/{{post._id}}" method="post">
  <button type="submit">Download</button>
</form>


