<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Read post</title>
  <style>
    /* Reset một số styles cơ bản */
ul, li, h1, h3, h5, button, form {
  margin: 0;
  padding: 0;
}

/* Set up some spacing and a max-width for your content */
.ulposts {
  list-style: none;
  max-width: 800px; /* Giá trị này thay đổi tùy vào bố cục của bạn */
  margin: auto;
  padding: 20px;
}

.liposts + .liposts {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.post {
  padding: 10px;
  background-color: #f9f9f9; /* Một màu nền nhẹ cho mỗi post */
  border-radius: 8px; /* Góc bo tròn */
  margin-bottom: 20px; /* Khoảng cách giữa các post */
}

.titlepost {
  margin-bottom: 10px;
}

.namepost {
  color: #333; /* Một màu đậm cho tiêu đề */
  font-size: 1.5em;
}

.datepost {
  color: #666;
  font-size: .9em;
}

.authorpost {
  margin-bottom: 10px;
  font-size: .8em;
  color: #777;
}

.content, .report-content h5, .report-content h7 {
  color: #333; /* Màu chữ cho nội dung và báo cáo */
  font-size: 1em;
  line-height: 1.6; /* Khoảng cách giữa các dòng */
  margin-bottom: 10px;
}

.action {
  display: flex;
  justify-content: space-between; /* Căn chỉnh nút bên trái và bên phải */
}
/*
.btn {
  background-color: #f0ad4e;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #ec971f; /* Màu khi hover 
}
*/
.comment {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Responsive styles */
@media (max-width: 991px) {
  .action {
    flex-direction: column;
  }

  .action button {
    width: 100%;
    margin-bottom: 10px;
  }

  .titlepost h1 {
    font-size: 1.2em;
  }
}
</style>
</head>


<body>

  <div class="rpPendingBG">
  <div class="rpPendingContainer">

  <h1 class="titlePost">Post: {{post.description}}</h1>
  <h2 class="titleItem">Images:</h2>
  {{#if images}}
    <div class="imgReadBox" style="display: flex;">
      
      {{#each images}}
      <div class="imgReadItem">
        <a  href="{{this}}" target="_blank">
          <figure class="imgReadItem1">
            <img class="imgImg" src="{{this}}" alt="Preview" style="">
            <figcaption class="imgLink">{{extractFilename this}}</figcaption>
          </figure>
        </a>
      </div>
      {{/each}} 

    </div>
  {{else}}
    <p>No images to display.</p>
  {{/if}}
  <h2 class="titleItem">Documents:</h2>
  {{#if docxs}}
    <ul style="width: 100%;">
      <div class="imgReadBox" style="display: flex;">
      {{#each docxs}}
      <div class="fileReadItem">
      <a href="javascript:void(0);">
        <div class="icon">
          <i class="fa fa-file text-info"></i>
        </div>
        <div class="file-name">
          <p class="m-b-5 text-muted"><a href="{{this}}" target="_blank">{{extractFilename this}}</a></p>
        </div>
      </a>
      </div>
  <!--
        <li>
          <a href="{{this}}" target="_blank">{{extractFilename this}}</a>
        </li>-->
      {{/each}}
      </div>
    </ul>


    
  {{else}}
    <p>No documents to display.</p>
  {{/if}}

  <h2 class="titleItem">Comments:</h2>



            {{#if empty}}
              <div class="comment">
                <h1>No message</h1>
              </div>
            {{else}}
            <!--
                    <div class="card ">
                    <div class="media mb40">
                        <i class="d-flex mr-3 fa fa-user-circle-o fa-3x"></i>
                        <div class="media-body">
                            <h5 class="mt-0 font400 clearfix">
                              <a class="float-right">{{this.datetime}}</a>
                              {{this.email}}</h5>{{this.comment}}</div>
                    </div>
                    </div>
            -->
  


              <div class="comment">
                  {{{breaklines post.message}}}
              </div>
            {{/if}}
  {{#if coordinator}}
    {{#if boolean}}
          <form class="messageBox" action="/coordinator/readPost/message/{{post._id}}" method="post">
              <input class="messText" name="message" type="text" placeholder="Write message">
              <button class="messButton" type="submit">Send</button>
         </form>
         
            <div class="pPendingItemsBox2">
              <form class="pPendingItemsForm1" action="/coordinator/postPending/approvePost/{{post._id}}" method="get">
                <button type="submit" class="pPendingItemsButton1 btn btn-success">Accept</button>
              </form>
              <form class="pPendingItemsForm1" action="/coordinator/postPending/deletePost/{{post._id}}">
                <button type="submit" class="pPendingItemsButton1 btn btn-danger">Refuse</button>
              </form>
            </div>
          </div>
    {{else}}  
        <h5 class="outdateLog"> The time for interaction and edit is over </h5>
    {{/if}}
  {{/if}}

  {{#if manager}}
  <script>
    console.log({{deadNow}});
    console.log({{boolean}});
    console.log({{deadline}});
    console.log('ok')
  </script>
  <form class="downRead" action="/manager/readPost/downloadPost/{{post._id}}" method="post">
    {{#if boolean}}
    <button type="submit" disabled>Download</button>
    {{else}}
    <button type="submit" >Download</button>
    {{/if}}
  </form>
  {{/if}}
  </div>
  </div>
</body>

