<ul class="ulposts">
  
  {{#each post}}
    <li class="liposts">
      <div class="post">
        <div class="titlepost">
          <h1 class="namepost">{{title}}</h1>
          <h3 class="datepost"> {{dateCreate}}</h3>
        </div>
        <div class="authorpost">
          <h3>{{email}}</h3>
        </div>
        <div class="content">
          {{{body}}}
        </div>
        <div class="status">
          Approve status:
          {{#if isPending}}
              <h5>Approve status: <b style="font-size: 15px"><span style="color: red;">Pending</span></b></h5>
            {{else}}
              <h5>Approve status: <b style="font-size: 15px"><span style="color: green;">Approved</span></b></h5>
            {{/if}}
        </div>
        <form action="/readPost/{{_id}}">
            <button type="submit" class="btn btn-primary">Read</button>
          </form>
      </div>
    </li>
  {{/each}}
</ul>