<ul class="ulposts">
  {{#each post}}
    <li class="liposts">
      <div class="post">
        <div class="titlepost">
          <h1 class="namepost">{{title}}</h1>
          <h3 class="datepost"> {{dateCreate}}</h3>
        </div>
        <div class="authorpost">
          <h3>{{email}}</h3>
        </div>
        <div class="content">
          {{{body}}}
        </div>
        <div class="status">
          Approve status:
          {{#if isPending}}
            <h5>Pending</h5>
          {{else}}
            <h5>Approved</h5>
          {{/if}}
        </div>
        <form action="/readPost/{{_id}}">
            <button type="submit" class="btn btn-primary">Read</button>
          </form>
      </div>
    </li>
  {{/each}}
</ul>