


<div class="container" style="margin-top: 20px;">
    <div class="grid">
        {{#each post}}
        <div class="card">
            <div class="header">
                <h1>{{myPost.description}}</h1>
                <!--
                <h5>By: {{email}}</h5>
                -->
                <h5>At: {{myPost.dateCreate}}</h5>
            </div>
           
            <div class="actions">
                <a class="pPendingRead" href="/readPost/{{myPost._id}}">Read more</a>
            </div>
          <div class="status">
            {{#if myPost.isPending}}
              <h5>Approve status: Pending</h5>
            {{else}}
              <h5>Approve status: Approved</h5>
            {{/if}}
          </div>
         {{#if empty}}
          <div class="comment">
            <h1>No message</h1>
          </div>
         {{else}}
          <div class="comment">
              {{{breaklines myPost.message}}}
          </div>
          {{/if}}
          <form action="/student/myPost/message/{{myPost._id}}" method="POST">
              <input name="message" type="text" placeholder="Write message">
              <button type="submit">Send</button>
         </form>
        </div>
         
        {{/each}}
    </div>
</div>
 