


<div class="container" style="margin-top: 20px;">
    <div class="grid">
        {{#if post}}
        {{#each post}}
        <div class="card">
            <div class="header">
                <h1>{{myPost.description}}</h1>
                <!--
                <h5>By: {{email}}</h5>
                -->
                <h5>At: {{myPost.dateCreate}}</h5>
            </div>
           
            <div class="actions">
                <a class="pPendingRead" href="/student/readPost/{{myPost._id}}">Read more</a>
            </div>
          <div class="status">
            {{#if myPost.isPending}}
              Approve status: <h5 style="color: red;">Pending</h5>
            {{else}}
              Approve status: <h5 style="color: green;">Approved</h5>
            {{/if}}
          </div>
        </div>
         
        {{/each}}
        {{else}}
        <div class="noPost">
        <img class="noPostImage"
        src="https://iili.io/JUdxhRn.png" alt="">
        </div>
        {{/if}}
    </div>
</div>
<style>
.noPost {
  display: flex;
  justify-content: center;
}
.noPostImage {
  width: 50%;
  height: auto;
}
</style>