

<div class="rpPendingBG">
<div class="rpPendingContainer">
{{#each report}}
<div class="rpPendingItems">
  <h3>Report post: {{post.title}}</h3>

    <div class="rpPendingItemsBox1">
      <div class="rpPendingItemsBox1n1">
        <div class="rpPendingSourch">
          <h5>Post by:</h5>
          <h5>{{post.email}}</h5>
        </div>
        <div class="rpPendingRead">
          <a href="/readPost/{{post._id}}">View post</a>
        </div>

        <div class="rpPendingSourch">
          <h5>Report by: </h5>
          <h5>{{email}}</h5>
        </div>
      </div>
<<<<<<< HEAD
      <div class="rpPendingItemsBox1n2">
        {{dateCreate}}
=======
      <div class="feedback-action">
          <form action="/readPost/{{post._id}}" method="get">
            <button class="action-btn edit">Read</button>
          </form>
        {{#if isPending}}
          <form action="/student/editReport/{{_id}}" method="get">
            <button class="action-btn edit">Edit report</button>
          </form>
          <form action="/student/deleteReport/{{_id}}" method="get">
            <button class="action-btn del">Delete report</button>
          </form>
        {{else}}
          <button class="action-btn edit" disabled  style="opacity: 0.5;">Edit report</button>
          <button class="action-btn del" disabled  style="opacity: 0.5;">Delete report</button>
        {{/if}}
      </div>
    </li>
    <div class="report-body">
      <h2>{{content}}</h2>
      <h3>{{dateCreate}}</h3>
      <h4>{{comment}}</h4>
      <div class="status">
        Approve status:
        {{#if isPending}}
          <span style="color: red;">Pending</span>

        {{else}}
          <span style="color: green;">Approved</span></b></h5>

        {{/if}}
>>>>>>> 002de0fb452543b5361a01df690fbcfae18d13ba
      </div>
    </div>
    <p class="rpPendingContent">Report content: {{content}}</p>
    <div class="status">
        
        {{#if isPending}}
          <h5>Approve status: Pending</h5>
          <div style="margin-top: 20px;">
            <h5>Comment from coordinator:  </h5>
            <p> {{comment}}</p>

          </div>
        {{else}}
          <h5>Approve status: Approved</h5>
        {{/if}}
    </div>
    
    <div class="rpPendingItemsBox2">
              {{#if isPending}}
              <div class="fixBtnBoxRPedPost">

                <form class="fixBtnBoxRPedPost_editF" action=" /student/editReport/{{_id}}" method="get">
                  <button class="fixBtnBoxRPedPost_edit">Edit report</button>
                </form>

                <form class="fixBtnBoxRPedPost_deleteF" action="/student/deleteReport/{{_id}}" method="get">
                  <button class="fixBtnBoxRPedPost_delete">Delete report</button>
                </form>

              </div>
              {{else}}
              <div class="fixBtnBoxRPedPost">

                <div class="fixBtnBoxRPedPost">
                  
                  <div class="fixBtnBoxRPedPost_editF">
                    <button class="fixBtnBoxRPedPost_edit" disabled  style="opacity: 0.5;">Edit report</button>
                  </div>

                  <div class="fixBtnBoxRPedPost_deleteF">
                    <button class="fixBtnBoxRPedPost_delete" disabled  style="opacity: 0.5;">Delete report</button>
                  </div>

                </div>
              </div>
              
              {{/if}}
    </div>
    

</div>
{{/each}}


</div>
</div>

