{{#each report}}
  <div class="report-content">
    <li class="liposts">
      <div class="post">
        <div class="titlepost">
          <h1 class="namepost">{{post.title}}</h1>
          <h3 class="datepost"> {{post.dateCreate}}</h3>
        </div>
        <div class="authorpost">
          <h3>{{post.email}}</h3>
        </div>
        <div class="content">
          {{{post.body}}}
        </div>
      </div>
      <div class="feedback-action">
        {{#if isPending}}
          <form action="/student/editReport/{{_id}}" method="get">
            <button class="action-btn edit">Edit report</button>
          </form>
          <form action="/student/deleteReport/{{_id}}" method="get">
            <button class="action-btn del">Delete report</button>
          </form>
        {{else}}
          <button class="action-btn edit" disabled  style="opacity: 0.5;">Edit report</button>
          <button class="action-btn del" disabled  style="opacity: 0.5;">Delete report</button>
        {{/if}}
      </div>
    </li>
    <div class="report-body">
      <h2>{{content}}</h2>
      <h3>{{dateCreate}}</h3>
      <h4>{{comment}}</h4>
      <div class="status">
        Approve status:
        {{#if isPending}}
          <h5>Pending</h5>
        {{else}}
          <h5>Approved</h5>
        {{/if}}
      </div>
    </div>
  </div>
{{/each}}